{% extends "/base.html" %}
{% block title %}Notable Pubs - a match-id scraper {%endblock%}
{% block main %}
  <div id="content" style="display: none;" class="container-md">
      {% if hero_names and player_names%}
      <form name="form" id= "select-form" class="row justify-content-center align-items-center mt-2" action="/" method="post">
        <div class="form-group col-md-6 text-center text-md-left">
          <div id="hero-wrapper">
            <label class= "text-primary font-weight-bold " for="heroes">Heroes : </label>
            <select data-width="100%" class="selectpicker" data-live-search="true" name ="heroes" id="heroes" title="Select a hero" data-size="8">
              {%for i in hero_names%}
              <option {%if selected and i[0] == selected%} selected {%endif%} data-subtext="{{ i[1] }} picks" value="{{ i[0] }}">{{i[0]}}</option>
              {%endfor%}
            </select>
          </div>
          <br>
          <div id="player-wrapper">
            <label class="text-primary font-weight-bold" for="players">Players :</label>
            <select data-width="100%" class="selectpicker" data-live-search="true" name="players" id="players" title="Select player(s)" data-size="8" multiple data-actions-box="true" data-max-options="{{player_names|length}}">
              {%for j in player_names%}
              <option data-subtext="{{ j[1] }} game{%if j[1] > 1 %}s{%endif%}" value="{{ j[0] }}">{{j[0]}}</option>
              {%endfor%}
            </select>
          </div>
            <div class="text-center text-md-left">
              <button onclick="loading();" name="submit_button" id="submit_button" value="submitbtn" type="submit" class="btn btn-primary btn-block mt-4" disabled>Search</button>
              <span {%if limit%} tabindex="0" rel="tooltip" data-placement="bottom" title="You have reached the limit for the hour!"{%endif%}>
                <button id="refine" {%if limit%} disabled style="pointer-events: none;" {%endif%} class="btn btn-primary btn-block mt-4 btn-sm" type="button" data-toggle="collapse" data-target="#collapse-options" aria-expanded="false" aria-controls="collapse-options" disabled>Refine
                  <span class="badge badge-light">beta</span>
                </button>
                </span>
            </div>
        </div>
        <div class="collapse col-md-6 form-group" id="collapse-options">
          <div class="card card-body text-center text-md-left">
            <div id="lane-wrapper">
              <label class="d-block text-primary font-weight-bold" for="lane-wrapper">Lane :</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Any" type="radio" id="radio4" name="role-radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="radio4">Any</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Mid" type="radio" id="radio1" name="role-radio" class="custom-control-input show-matchup">
                <label class="custom-control-label" for="radio1">Mid</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Off" type="radio" id="radio2" name="role-radio" class="custom-control-input show-matchup">
                <label class="custom-control-label" for="radio2">Off</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Safe" type="radio" id="radio3" name="role-radio" class="custom-control-input show-matchup">
                <label class="custom-control-label" for="radio3">Safe</label>
              </div>
            </div>
            <br>
            <div class="collapse" id="matchup-wrapper">
              <label class="text-primary font-weight-bold mt-2" for="matchup">Hero matchups :</label>
              <select data-width="100%" class="selectpicker" data-live-search="true" name="matchup" id="matchup" title="Select a hero" data-size="8" multiple disabled data-actions-box="true">
                {%for k in hero_names%}
                <option value="{{ k[0] }}">{{k[0]}}</option>
                {%endfor%}
              </select>
            </div>
          </div>
      </div>
      </form>
    {% with messages = get_flashed_messages(category_filter=["plimited"]) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="close text-black-50" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["limited"]) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="close text-black-50" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      {% with messages = get_flashed_messages(with_categories=true, category_filter=["danger", "primary"]) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" role="alert">
            {{message}}
          </div>
          {%endfor %}
        {% endif %}
      {% endwith %}
      <table id="winloss" class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Match ID</th>
            <th scope="col">Avg MMR</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
        {% if result %}
          {% for k, parent in result.items() %}
              <tr {%if parent['outcome'] == 'win' %} class= "table-success"{% endif %}{%if parent['outcome'] == 'loss'%} class ="table-danger"{%endif%}>
                <td title="Click the id to copy">
                  <span style="display:none;">{{k}}</span>
                  <input size="{{k|length}}" style="cursor:copy;" type="text" readonly="readonly" value="{{k}}" {%if parent['name'] != "0"%} rel="tooltip" data-placement="right" title="{{ parent['name'] }}"{% endif %}>
                </td>
                <td>{{parent['avgmmr']}}</td>
                <td>{{parent['duration']}}
                  <a target="_blank" href = "{{ url_for('parse' ,match_id= k) }}">
                  <span class="float-right text-primary" data-placement="right" rel="tooltip" title="More stats"><svg class="bi bi-plus" width="1.375em" height="1.375em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                  </svg>
                  </span>
                  </a>
                </td>
              </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      {%else%}
      <div class="text-center">
        <h1 class="display-2">Error 404</h1>
        <h2><small>Seems like dota2protracker.com is down for now. Please try again later!</small></h2>
        <svg class="bi bi-plug" width="6em" height="6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5h8v3a4 4 0 01-8 0V5z"/>
            <path fill-rule="evenodd" d="M6 1.5a.5.5 0 01.5.5v3a.5.5 0 01-1 0V2a.5.5 0 01.5-.5zm4 0a.5.5 0 01.5.5v3a.5.5 0 01-1 0V2a.5.5 0 01.5-.5zM7.115 13.651c.256-.511.385-1.408.385-2.651h1c0 1.257-.121 2.36-.49 3.099-.191.381-.47.707-.87.877-.401.17-.845.15-1.298-.002-.961-.32-1.534-.175-1.851.046-.33.23-.491.615-.491.98h-1c0-.635.278-1.353.918-1.8.653-.456 1.58-.561 2.74-.174.297.099.478.078.592.03.115-.05.244-.161.365-.405z" clip-rule="evenodd"/>
          </svg>
      </div>
      {%endif%}
    </div>

{% endblock %}