<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/datatables.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Notable Pubs - match-id scraper</title>
  </head>
  <body class="text-monospace">
  <nav class="navbar flex-row-reverse mb-2">
    <a class="navbar-brand m-0" data-toggle="modal" data-target="#infoModal">
      <svg style="cursor:help;" class="d-inline-block align-top bi bi-question" width="32" height="32" viewBox="0 0 16 16" fill="rgba(2, 117, 216, .7)" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
      </svg>
    </a>
    <h2 class="m-0 align-middle center-x"><span class="badge badge-primary align-middle">NOTABLE PUBS</span></h2>
  </nav>
  <div class="container-md">
      {% if hero_names and player_names%}
      <form id= "select-form" class="row justify-content-center align-items-center mt-2" method="post">
        <div class="form-group col-md-6 text-center text-md-left">
          <div id="hero-wrapper">
            <label class= "text-primary font-weight-bold " for="heroes">Heroes : </label>
            <select data-width="100%" class="selectpicker" data-live-search="true" name ="heroes" id="heroes" title="Select a hero" data-size="8" required>
              {%for i in hero_names%}
              <option data-subtext="{{ i[1] }} picks" value="{{ i[0] }}">{{i[0]}}</option>
              {%endfor%}
            </select>
          </div>
          <br>
          <div id="player-wrapper">
            <label class="text-primary font-weight-bold" for="players">Players :</label>
            <select data-width="100%" class="selectpicker" data-live-search="true" name="players" id="players" title="Select player(s)" data-size="8" required multiple data-actions-box="true">
              {%for j in player_names%}
              <option data-subtext="{{ j[1] }} games" value="{{ j[0] }}">{{j[0]}}</option>
              {%endfor%}
            </select>
          </div>
            <div class="text-center text-md-left">
              <button name="submit_button" id="submit" value="submit" type="submit" class="btn btn-primary btn-block mt-4" disabled>Search</button>
              <button class="btn btn-primary btn-block mt-4 btn-sm" type="button" data-toggle="collapse" data-target="#collapse-options" aria-expanded="false" aria-controls="collapse-options">Refine
                <span class="badge badge-light">beta</span>
              </button>
            </div>
        </div>
        <div class="collapse col-md-6 form-group" id="collapse-options">
          <div class="card card-body text-center text-md-left">
            <div id="lane-wrapper">
              <label class="d-block text-primary font-weight-bold" for="lane-wrapper">Lane :</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Any" type="radio" id="radio4" name="role-radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="radio4">Any</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Mid" type="radio" id="radio1" name="role-radio" class="custom-control-input show-matchup">
                <label class="custom-control-label" for="radio1">Mid</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Off" type="radio" id="radio2" name="role-radio" class="custom-control-input show-matchup">
                <label class="custom-control-label" for="radio2">Off</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input value="Safe" type="radio" id="radio3" name="role-radio" class="custom-control-input show-matchup" >
                <label class="custom-control-label" for="radio3">Safe</label>
              </div>
            </div>
            <br>
            <div class="collapse" id="matchup-wrapper">
              <label class="text-primary font-weight-bold mt-2" for="matchup">Hero matchup :</label>
              <select data-width="100%" class="selectpicker" data-live-search="true" name="matchup" id="matchup" title="Select a hero" data-size="8" disabled>
                {%for k in hero_names%}
                <option value="{{ k[0] }}">{{k[0]}}</option>
                {%endfor%}
              </select>
            </div>
          </div>
      </div>
      </form>
    {% with messages = get_flashed_messages(category_filter=["limited"]) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="close text-black-50" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      {% with messages = get_flashed_messages(with_categories=true, category_filter=["danger", "primary"]) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" role="alert">
            {{message}}
          </div>
          {%endfor %}
        {% endif %}
      {% endwith %}
      <table id="winloss" class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Match ID</th>
            <th scope="col">Avg MMR</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
        {% if result %}
          {% for k, parent in result.items() %}
              <tr {%if parent['outcome'] == 'win' %} class= "table-success"{% endif %}{%if parent['outcome'] == 'loss'%} class ="table-danger"{%endif%}>
                <td ><span {%if parent['name'] != "0"%} rel="tooltip" data-placement="right" title="{{ parent['name'] }}"{% endif %}>{{k}}</span></td>
                <td>{{parent['avgmmr']}}</td>
                <td>{{parent['duration']}}</td>
              </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      {%else%}
      <div class="text-center">
        <h1 class="display-2">Error 404</h1>
        <h2><small>Seems like dota2protracker.com is down for now. Please try again later!</small></h2>
        <svg class="bi bi-plug" width="6em" height="6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5h8v3a4 4 0 01-8 0V5z"/>
            <path fill-rule="evenodd" d="M6 1.5a.5.5 0 01.5.5v3a.5.5 0 01-1 0V2a.5.5 0 01.5-.5zm4 0a.5.5 0 01.5.5v3a.5.5 0 01-1 0V2a.5.5 0 01.5-.5zM7.115 13.651c.256-.511.385-1.408.385-2.651h1c0 1.257-.121 2.36-.49 3.099-.191.381-.47.707-.87.877-.401.17-.845.15-1.298-.002-.961-.32-1.534-.175-1.851.046-.33.23-.491.615-.491.98h-1c0-.635.278-1.353.918-1.8.653-.456 1.58-.561 2.74-.174.297.099.478.078.592.03.115-.05.244-.161.365-.405z" clip-rule="evenodd"/>
          </svg>
      </div>
      {%endif%}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary text-light">
            <h5 class="modal-title" id="infoModalTitle">Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Notable Pubs</b> is a web-app made to scrape the relevant data straight from <a href="http://dota2protracker.com" class="text-decoration-none" target="_blank">dota2protracker.com</a>, meaning no API calls are made by this web-app directly.</p>
            <p>Player data is limited based on their activity(players with <10 matches in the past 8 days are not listed in the dropdown).</p>
            <p>Table rows are colored based on the outcome of the respective match.(green for win and red for loss)</p>
            <p>In order to check the player name when a query had multiple players, hover over the matchid.</p>
          </div>
          <div class="modal-footer justify-content-center bg-primary text-light">
            <p>Made with <span class="love">♥</span> by <a class="twitter text-decoration-none" href="https://twitter.com/ram02z" target="_blank">@ram02z</a></p>
          </div>
        </div>
      </div>
    </div>
  <footer class="text-center footer text-light fixed-bottom bg-primary">
    <small>DOTA 2 is a registered trademark of Valve Corporation.</small>
  </footer>
    <script type="text/javascript" src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/datatables.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>