body {
    padding-bottom: 70px
}
td input, td input:focus, td input:active {
    background: transparent;
    border: none;
    outline: none;
}

#match-id:hover{
    opacity: 0.5;
}
.spinner-border {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto;
}
#toolong {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
  width: 180px;
  height: 25px;
  margin: auto;
}
.btn[disabled] {
    cursor: not-allowed
}

.close {
    color: #fff;
    opacity: 1;
    transition: 0.3s;
}

.close:hover {
    color: #fff;
    opacity: .5;
}

.lighta,
.lighta:active,
.lighta:visited {
    color: white;
    transition: 0.3s;
}

.lighta:hover {
    color: #d7ecf2;
}
a svg{
    fill: rgba(2, 117, 216, 1);
    transition: 0.3s;
}
a svg:hover,
a svg:active,
a svg:focus {
    fill: rgba(2, 117, 216, 0.9);
    cursor: pointer
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(0, 123, 255, .225)
}

.table .thead-light th {
    color: #fff;
    background-color: rgba(2, 117, 216, 1);
    border-color: #dee2e6
}

.match-links{
    width: 32px;
    height: auto;
    transition: transform .2s linear;
    -webkit-filter: drop-shadow(1px 2px 2px #222);
    filter: drop-shadow(1px 2px 2px #222);
    transform: scale(0.9);

}

#links-badge img:hover {
    transform: scale(1.22);
}

.custom-border{
    border-width: .25em !important;
}


.list-rad:nth-child(odd) {
    background-color: rgba(40,167,69,0.4);
    }
.list-rad:hover:nth-child(odd) {
    background-color: rgba(40,167,69,0.5);
    color:#007bff;
    }
.list-rad:nth-child(even) {
    background-color: rgba(40,167,69,0.2);
    }
.list-rad:hover:nth-child(even) {
    background-color: rgba(40,167,69,0.3);
    color:#007bff;
    }
.list-dire:nth-child(odd) {
    background-color: rgba(220,53,69,0.4);
    }
.list-dire:hover:nth-child(odd) {
    background-color: rgba(220,53,69,0.5);
    color:#007bff;
    }
.list-dire:nth-child(even) {
    background-color: rgba(220,53,69,0.2);
    }
.list-dire:hover:nth-child(even) {
    background-color: rgba(220,53,69,0.3);
    color:#007bff;
    }

.tooltip-inner {
background-color: #007bff;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #007bff !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #007bff !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #007bff !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #007bff !important;
}
@media screen and (max-width:576px){
    .btn-group{
    display:flex;
    flex-direction: column;
    }

}
@media (max-width:991.98px) {
    .center-x {
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%)
    }
}
@media (min-width: 768px) {
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
}
}
#winloss_info {
    color: #007bff
}

::selection {
    background-color: #007bff;
    color: white;
}

.love {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse
}

@-webkit-keyframes love {
    to {
        -webkit-transform: scale(1.15)
    }
}

@-moz-keyframes love {
    to {
        -moz-transform: scale(1.15)
    }
}

@keyframes love {
    to {
        transform: scale(1.15)
    }
}
